*{
    background-color: salmon ;
    color: #057F8D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: space-between;
}

h1{
    background-color: salmon;
    border: 5px solid #057F8D;
    border-radius: 11px;
    padding: 0px 13px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    align-self: center;
}



.result{
    position: relative;
    padding-bottom: -20px;
}

img{
    object-fit: cover;
    width: 100%;
    height:100%;
}

button {
    width: 150px;
    position: relative;
    height:150px;
    border: 5px ridge #057F8D;
    outline: none;
    background-color: inherit;
    transition: 1s;
    border-radius: 11px;
    font-size: 16px;
    font-weight: bold;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 3%;
    width: 90%;
    height: 10%;
    background-color: salmon;
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 100%;
    left: 3%;
    width: 95%;
    height: 10%;
    background-color: salmon;
    transition: 0.5s;
  }
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #057F8D;
  }

  .sc{
    object-fit: scale-down;
    
  }